$fontSize: 14px;
$mainColor: #08f;
$accentColor: #f80;
$blackColor: #333;
$dangerColor: rgb(243, 88, 88);
$succesColor: rgb(146, 241, 151);
$lineHeightNormal: 1.25;
$nuvItemActive: rgba(0, 0, 0, 0.5);
$headerHeight: 72px;
$neutralColor: #ccc;
$borderSize: 2px;

// .. .. .. ..
$subMenuMaxHeight: 350px; 