@import "../../css/vars.scss";
@import "../../css/funcs.scss";

.catalog-page {
  .config {
    padding-top: 10px;
    border-bottom: 2px solid #888;
  }
}

.catalog-page .catalog-page__content {
  .catalog-page__categories {
    padding: 10px;
    font-size: 18px;
  }

  .catalog-page__categories-item {
    padding: 3px;
    @extend %opacible;
    word-break: break-all;

    a {
      display: inline-block;
      width: 100%;
    }

    a.active {
      opacity: 0.6;
      font-size: 24px;
    }
  }

  .catalog-page__catalog {
  }

  .pagination {
    @extend %between;
  }
}

.catalog-page .catalog-page__catalog {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 160px;

    .card {
      width: 24%;
      margin: 5px 0.5%;
    }
  }
}

a.categories__toggler {
  display: none;
}

.catalog-page .catalog-page__categories-item a {
  display: block;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.catalog-page .catalog-page__categories-item a.active {
  color: white;
  background-color: #000;
}
.catalog-page .catalog-page__categories-item:not(:last-child) {
  border-bottom: 1px solid #08f;
}

@media (max-width: 964px) {
  .catalog-page .catalog-page__catalog {
    .cards .card {
      width: 49%;
      margin: 5px 0.5%;
    }
  }
}

@media (max-width: 768px) {
  .catalog-page .catalog-page__catalog {
    .cards .card {
      width: 100%;
      max-width: 100%;
    }
  }

  .catalog-page__content {
    max-width: 450px;
    margin: 0 auto;
  }

  a.categories__toggler {
    display: inline-block;
  }

  .catalog-page__categories {
    display: none;
  }

  .row div.col.s10.catalog-page__catalog {
    width: 100%;
  }
}
